<!DOCTYPE html>
<html>
<head>
    <title>Web Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <form action="/calculate" method="post">
    <h1>Web Calculator</h1>

        <label for="num1">Enter the first number:</label>
        <input type="text" name="num1" required><br>
        <label for="num2">Enter the second number:</label>
        <input type="text" name="num2" required><br>
        <label for="num3">Enter the third number:</label>
        <input type="text" name="num3" required><br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>
